
$default-text-color: #181C43;
$secondary-text-color: #3E4462;
$error-color: #FF6683;
$default-link-color: #000;
$default-label-color: #000000CC;

$default-background: #FFFF;
$input-background: #F3F3FA;
$input-error-background: #FF668333;
$loading-background: #00000033;
$hint-background: #1E1A3E;


$hover-color: #dea8de;

$default-btn-background: #1E1A3E;
$default-btn-disabled-background: #1E1A3E66;